{
  "ip": "0.0.0.0",
  "port": "{{ ports.dpp_entity_recognition_grpc }}",

  "models_folder": "models",
  "base_name_model": "ru_core_news_lg",
  "model_name": "{{ dpp_entity_recognition_models[0] }}"
}