#!/bin/bash
proc=$(ps -aux | grep "[/]usr/sbin/glusterfs.*{{ item.mount_point }}" | wc -l)
if [[ "$proc" = 0 ]]; then
    systemctl restart {{ item.mount_point | regex_replace('^/(.+)$', '\\1') | replace('/','-') }}.automount || true
    ls {{ item.mount_point }} > /dev/null || true
    exit 1
fi
