CREATE DATABASE {{ keyspace_notification_service }} WITH TEMPLATE = template0 ENCODING = 'UTF8' LC_COLLATE = 'en_US.UTF-8' LC_CTYPE = 'en_US.UTF-8';


ALTER DATABASE {{ keyspace_notification_service }} OWNER TO postgres;

\connect {{ keyspace_notification_service }}

CREATE TABLE agents (
  id text PRIMARY KEY,
  owner_id text NOT NULL,
  type text NOT NULL,
  name text NOT NULL,
  description text NOT NULL,
  created_on timestamp with time zone NOT NULL,
  modified_on timestamp with time zone NOT NULL,
  notified_on timestamp with time zone,
  data jsonb NOT NULL,
  topics jsonb
);

CREATE TABLE kb_agents (
  id text PRIMARY KEY,
  owner_id text NOT NULL,
  created_on timestamp with time zone NOT NULL,
  modified_on timestamp with time zone NOT NULL,
  notified_on timestamp with time zone,
  data jsonb NOT NULL,
  audience bigint
);

CREATE INDEX kb_agent_owner_id_idx ON kb_agents (owner_id);