{
    "oat": {
        "port": {{ ports.dpp_dictionary_service_main }}
    },
    "elastic": [
        {
            "host": "{{ internal_host if internal_host else ansible_host }}",
            "port": {{ ports.local_nginx_es }}
        }
    ],
    "redis": {
        "host": "{{ host.redis_archiver }}",
        "port": {{ ports.redis_archiver_main | int + 1 }}
    }
}