com.sun.security.jgss.initiate  {
  com.sun.security.auth.module.Krb5LoginModule required
  useKeyTab=true
  keyTab="conf/keytab.keytab"
  storeKey=true
  doNotPrompt=true
  principal="s-msk-ra_ldap_reader";
};
com.sun.security.jgss.accept  {
  com.sun.security.auth.module.Krb5LoginModule required
  useKeyTab=true
  keyTab="conf/keytab.keytab"
  storeKey=true
  doNotPrompt=true
  principal="HTTP/msk-es04-app139";
};
