{
    "name": "File converter",
    "kind": "grpc",
    "type": "processor",
    "urls": [
        {%- set addrs = [] -%}
        {%- for host in groups['iii_speech_service'] -%}
        {%- if hostvars[host].triton_videocards is defined -%}
        {%- for i in hostvars[host].triton_videocards -%}
        {{ addrs.append(hostvars[host][inventory_ip]+':'+((ports.iii_speech_service_file_converter | int) + (loop.index0 | int * 10)) | string ) }}
        {%- endfor -%}
        {%- else -%}
        {{ addrs.append(hostvars[host][inventory_ip]+':'+(ports.iii_speech_service_file_converter | string )) }}
        {%- endif -%}
        {%- endfor -%}
        "{{ '", "'.join(addrs) }}"
    ]
}