{
  "template": {
    "settings": {
      "index": {
        "analysis": {
          "analyzer": {
            "default": {
              "type": "russian_morphology"
            }
          }
        }
      }
    }
  }
}